.cart-fan {
    width: 100px;
    height: 60px;
    margin-right: 50px;
    border-radius: 10px;
}

.cart-fan i {
    font-size: 2rem;
    margin-right: 12px;
}

.button-fan {
    display: grid;
    float: right;
}

.detail-fan {
    margin-left: 35px;
}
.dbtn-conteiner {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
    height: 60px;
}

.dbtn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 50px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}

.dbtn-content p {
    margin-top: 15px;
    font-size: 1.3rem;
}

.dbtn-content:hover,
.dbtn-content:focus {
    transition: 0.5s;
    -webkit-animation: dbtn-content 1s;
    animation: dbtn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
}

.dbtn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}

.dbtn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}

.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}

/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.dbtn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}

.dbtn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.dbtn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: var(--color-background);
    }

    100% {
        fill: white;
    }
}

/* Button animations */
@-webkit-keyframes dbtn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes dbtn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

/* From uiverse.io by @Ali-Tahmazi99 */
.cart-fan {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
}

.cart-fan::before,
.cart-fan::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.cart-fan::before {
    left: -10px;
    background: #240046;
}

.cart-fan::after {
    right: -10px;
    background: #5a189a;
}

.cart-fan:hover::before,
.cart-fan:hover::after {
    width: 58%;
}

.cart-fan:hover i {
    color: #e0aaff;
    transition: 0.3s;
}

.cart-fan i {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}