html {
    scroll-behavior: smooth;
}

.name1 {
    text-transform: uppercase !important;
    text-align: center !important;
    font-family: 'Baumans', cursive;
    font-size: calc(1.3rem + .6vw);
    margin-bottom: 1rem !important;
    margin-right: 250px;
    margin-top: 50px;
}

.hr {
    text-align: center !important;
}

.pd1 {
    text-align: center;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.pd2 {
    text-align: center;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pd3 {
    text-align: center;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.clear {
    clear: both;
}

.factory-image {
    background-image: url(https://hieu-icetea.github.io/T1909M_FANoFAN/img/factory.jpg);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    width: 100%;

}

.factory-icon {
    text-align: center;
    text-shadow: currentColor;
    color: whitesmoke;
    font-size: 5rem;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;


}

.factory-p {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.fb {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.my-link a {
    color: whitesmoke;
    text-decoration: none !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
    cursor: pointer !important;
}

.my-link a:hover {
    color: #00867d;
    margin-left: 5px;
    font-weight: 700;

}

.a {
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-thickness: initial !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
    cursor: pointer !important;
    background-color: transparent;
    padding-bottom: 10px;
}

.title {
    display: block;
    font-size: 21px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    transition: all 0.5s ease 0s;
    transform: scale(1.05);
}

.post {
    display: block;
    font-size: 20px;

    color: #17bebb;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

.our-team-header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.8em;
    color: inherit;
    font-weight: 400px;
    font-size: 2.8em;
    font-size: 3rem;
    font-family: "Trade Gothic W01", Helvetica, arial, "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
    /* line-height: 1.2em; */
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #17a2b8;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.row .justify-content-center {
    justify-content: center !important;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.our-team {

    transition: all 0.5s ease 0s;
    padding: 20px 15px 30px;
    background: #e8eaf6c5;
    border-radius: 20px;
    text-align: center;

}

.col-md-3 .col-sm-6 .col-12 .mb-2 {
    margin-bottom: 0.5rem !important;
    flex-grow: 0;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background: #e8eaf6c5;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
}

.my-our-team .our-team .img {
    width: 100%;
    height: auto;

    border-radius: 10%;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0.1s;
}

.my-our-team .our-team:hover .img {
    background: #17bebb;
    border-radius: 50%;
}

.our-team:hover {

    transform: scale(1.1) translateY(-3px);
}

.img {
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0.1s;

    border-radius: 50%;
    background: #e8eaf6c5;
}

.imgi {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    box-sizing: border-box;
}